<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Restaurant Catalogue. Discover restaurants from various cities."
        />
        <meta name="keywords" content="Restofy" />
        <meta name="theme-color" content="##FFD100" />

        <link rel="apple-touch-icon" href="./images/restofy-logo.png" />
        <link rel="icon" href="./images/restofy-logo.png" type="image/x-icon" />
        <link rel="manifest" href="./app.webmanifest" />

        <!-- Google Font -->
        <link
            href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap"
            rel="stylesheet"
            type="text/css"
        />

        <!-- Icon -->
        <script src="https://unpkg.com/phosphor-icons"></script>

        <title>Restofy</title>
    </head>
    <body>
        <!-- skip to content -->
        <a tabindex="1" href="#main" class="skip-to-content-link"
            >Skip to content</a
        >

        <!-- Header Start -->
        <header class="header">
            <div class="header-logo">
                <a href="/" class="header-logo__link">
                    <img
                        src="./images/restofy.png"
                        class="header-logo__link__image"
                        alt="Restofy Logo"
                    />
                </a>
            </div>
            <nav-bar></nav-bar>
        </header>
        <!-- Header End -->

        <!-- Main Start -->
        <main id="main" class="main"></main>
        <!-- Main End -->

        <!-- Footer Start -->
        <footer class="footer">
            <p class="footer-copyright">Copyright © 2022 Restofy</p>
            <p class="footer-credit">
                All data obtained from <span>Dicoding</span>
            </p>
            <p class="footer-credit">
                Icon by <span>Phosphor</span> | Created by
                <span>Anisa Permatasari</span>
            </p>
        </footer>
        <!-- Footer End -->
    </body>
</html>
