/* 
	MAIN
*/

.main {
	flex: 1;
    width: 100vw;
}

/* 
	Hero
*/

.main .main-hero {
    display: flex;
    align-items: center;
    width: 100vw;
    min-height: 240px;
    text-align: center;
    background: url('../public/images/heros/hero-image_4.jpg') no-repeat center
        center;
    background-size: cover;
}

.main .main-hero .main-hero__inner {
    width: 100%;
    padding: 16px;
    color: rgba(252, 252, 252, 1);
    background: rgba(32, 32, 32, 0.5);
}

.main .main-hero .main-hero__inner .main-hero__inner__title {
    margin-bottom: 16px;
}

.main .main-hero .main-hero__inner .main-hero__inner__title span {
    color: rgba(255, 209, 0, 1);
}

.main-content__title {
    margin: 32px 0;
    text-align: center;
}

/* 
	* Resto Cards
*/
.main-content__cards {
    width: 100%;
    display: grid;
    grid-gap: 24px;
    padding: 32px;
    border-radius: 16px 16px 0 0;
    background: rgba(255, 238, 50, 1);
}

card-resto {
    position: relative;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
    background: rgba(252, 252, 252, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-resto__rating {
    display: flex;
    position: absolute;
    right: 0;
    margin: 8px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: rgba(252, 252, 252, 0.8);
}

.card-resto__rating i {
    color: rgba(255, 209, 0, 1);
}

.card-resto__rating span {
    font-size: 14px;
    font-weight: 700;
}

.card-resto__image {
    max-height: 200px;
    overflow: hidden;
}

.card-resto__image img {
    width: 100%;
}

.card-resto__info {
    margin: 24px;
    display: flex;
    flex-direction: column;
}

.card-resto__info-name {
    margin-bottom: 8px;
}

.card-resto__info-city {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
}

.card-resto__info-desc {
    width: 100%;
    margin-bottom: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-resto__info-more {
    width: fit-content;
    padding: 12px 24px;
    margin: 0 auto;
    border-radius: 24px;
    border: none;
    color: rgba(32, 32, 32, 0.8);
    background: linear-gradient(
        45deg,
        rgba(255, 209, 0, 1),
        rgba(255, 238, 50, 1)
    );

    font-weight: 700;
    text-decoration: none;

    cursor: pointer;
}

.card-resto__info-more:hover {
    color: rgba(32, 32, 32, 1);
    background: rgba(255, 238, 50, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
