/* Screen up to 700px */
@media only screen and (min-width: 700px) {
	/* 
		Resto Cards
	*/
	.main-content__cards {
		grid-template-columns: 1fr 1fr;
	}
}

/* Screen up to 1024px */
@media only screen and (min-width: 1024px) {
    /* 
		HEADER
	*/

    .header .header-logo {
        margin: 0 8px;
    }

    .header .header-hamburger-menu {
        display: none;
    }

    .header .header-navigation {
		visibility: visible;
        position: relative;
		margin: 0 8px;
        padding: 0;
        width: auto;
        top: auto;
        transform: translateX(0);
        box-shadow: none;
    }

    .header .header-navigation .header-navigation__list {
        display: flex;
        gap: 16px;
        justify-content: flex-end;
    }

    .header .header-navigation .header-navigation__list .header-navigation__item:last-child {
        background: rgba(255, 209, 0, 1);
        border-radius: 8px;
    }

	.header .header-navigation .header-navigation__list .header-navigation__item:last-child:hover {
		background: rgba(255, 209, 0, 0.7)
	}
	
	.header .header-navigation .header-navigation__list .header-navigation__item:hover{
		border-radius: 8px;
	}

    .header .header-navigation .header-navigation__list .header-navigation__item a {
        font-size: 16px;
    }

    .header .header-navigation .header-navigation__list .header-navigation__item:last-child a {
        color: rgba(252, 252, 252, 1);
    }

    .header .header-navigation .header-navigation__list .header-navigation__item i {
        margin-right: 16px;
        font-size: 20px;
    }

	/* 
		HERO
	*/
	.hero-inner__subtitle {
		font-size: 18px;
	}

	/* 
		* Resto Cards
	*/
	.main-content__cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Screen up to 1024px */
@media only screen and (min-width: 1200px) {
	/* 
		*
		* HERO
		*
	*/
	.main-hero {
		margin: 0 auto;
		max-width: 1000px;
	}	
}